@import '../../../../../styles/mixins.scss';

.search_top {
	@apply mx-auto relative;
	max-width: 600px;
}

.result {
	@apply flex flex-wrap absolute z-10 p-5 mt-3;
	left: -144px;
	@include shadow();

	> div {
		@apply mr-4 last:mr-0;
		width: 23%;
	}
}
